# Secrets
.env
secrets/

# Personal Environment related folders
.claude/settings.local.json
.vscode
docs/agent_ref/env.md


# Python related locals
__pycache__/
*.py[cod]
*.egg-info/
.venv/


# Test related artifacts
htmlcov/
.pytest_cache/
.coverage

# Build artifacts
dist/
build/

# Formating artifacts
.mypy_cache/
.ruff_cache/

# DB related artifacts
*.db
*.sqlite
.claude/settings.json
